<div align="center">
<p>
  <strong>Comment:</strong>
  <%= comment.body %></br>
  Posted: <%=  comment.created_at.strftime("%B, %d, %Y, %I:%M:%S, %Z" ) %>
</p>
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
</div>
